.main-content {
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

.login-area {
    width: 40%;
    background-color: #0d1428;
    color: #ffffff;
}

.login {
    padding: 50px 15px 50px 15px;
}

.login.signup {
    padding-top: 35px;
    padding-bottom: 35px;
}

.login .header {
    padding-top: 25px;
    padding-bottom: 60px;
}

.header.sign-up {
    padding-bottom: 40px;
}

.login h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.form-wrapper {
    max-width: 330px;
    margin: 0 auto;
}

.btn-green {
    color: #fff;
    background-color: #80b425;
    border-color: #80b425;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.login-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.login-footer p {
    font-size: 12px !important;
    color: #fff;
    margin-top: 7px;
}

.signup-footer p {
    font-size: 12px !important;
    color: #fff;
    margin-top: 7px;
    text-align: center;
    padding-top: 10px;
}

.image-area {
    width: 60%;
    background: url('../img/ph.jpg');
    background-size: cover;
    background-position: center;
}